@import 'styles.css';

footer{
    padding: 0 4rem;
    margin-top: 10rem;
}
.map{
    width: 36rem;
    
}

iframe{
    width: 100%;
    height: 50rem;
}
footer .reservation  {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom:7rem;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:  50rem;
    width: 100%;
    gap: 4rem;

}
form :nth-child(1) h1{
    font-family:'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 800;
}
form .grid-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

form .grid-container .grid-item-7{
    grid-column-start: 1;
    grid-column-end: 4;
}
 
input{
    width: 90%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid black;
}

form .grid-container .grid-item-7 input{
   width: 97%;
   resize: both;
  
   
} 
input[type=date]{
    color: white;
}


label{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.button{
    background-color: #FF2056;
    padding: 2rem 15%;
    cursor: pointer;

}

.button span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.black-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 4rem 0rem;
}


.black-footer-div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 96rem;
    width: 100%;
    padding: 1.5rem 4rem;
  
    
}

.footer-booking-button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.67rem;
    font-weight: 300;
    height: 6.2rem; 
    padding: 2rem 5.5rem; 
    border: 1px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    
} 
.footer-booking-button:hover{
    background-color: white;
    color: black;
}

.icons{
    font-size: 2rem;
    color: white;
    display: flex;
    gap: 2rem;
    cursor:pointer;
    
}

.black-footer-div2 {
    padding: 0 4rem;
    max-width: 96rem;
    width: 100%;
  
}

.black-footer-div2 hr{
    height: 0.5px;
    background-color: white;
    opacity: 0.7;
}


.black-footer-div3{
    max-width: 96rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0 4rem;
    
}
.black-footer-div3 div {
    padding: 2rem 0;
    text-align: center;
}
.black-footer-div3 div h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    width: 100%;
    font-weight: 600;
    padding-bottom: 1rem;
    color: white;
}
.black-footer-div3 div span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
   
    color: white;
}
.black-footer-div3 dl{
    display: flex;
    justify-content: space-between;
}
.black-footer-div3 dl dd, dt {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
}